.plist-row:hover,
.plist-row:nth-child(even):hover {
    background-color: rgba(169, 169, 169, 0.2);
}
.plist-row:nth-child(even) {
    background-color: rgba(169, 169, 169, 0.1);
}

.plist-row .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    color: var(--theme-text-color);
    border-radius: 6px;
    padding: 1px 0;
    border: 1px solid;
    border-color: var(--theme-text-color);
    z-index: 1;
}

.plist-row:hover .tooltiptext {
    visibility: visible;
}
