.plist-row:hover,
.plist-row:nth-child(even):hover {
    background-color: rgba(169, 169, 169, 0.2);
}
.plist-row:nth-child(even) {
    background-color: rgba(169, 169, 169, 0.1);
}

.plist-row .tooltiptext {
    width: 120px;
    text-align: center;
    color: var(--theme-text-color);
    border-radius: 6px;
    padding: 1px 0;
    border: 1px solid;
    border-color: var(--theme-text-color);
    display: inline-block;
}

.tooltiptext-green {
    color: green !important;
    border-color: green !important;
}

.tooltiptext-blue {
    color: blueviolet !important;
    border-color: blueviolet !important;
}

.plist-row .popper {
    visibility: hidden;
    z-index: 1;
}

.plist-row:hover .popper {
    visibility: visible;
}

.sp-icon:hover {
    box-shadow: 0 0 10px var(--theme-text-color);
    border-radius: 100%;
}
